# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# IDEs/editors
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# SQLite DB backups (optional)
*.db-journal

# Temporary files
temp.*
temp/


